/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

/* global css */
*{box-sizing: border-box;margin:0;padding:0}
body{font-family: 'Poppins', sans-serif;}
.container{width:80%; margin:0 auto}
.btn{background:#347fe3;padding:1em 0.5em;display: inline-block;color:#fff;width:200px;text-align: center;margin-top:20px}
p{line-height: 1.4;font-size:0.9em;font-weight: 300;}
a{text-decoration: none;color:#000}
ul{list-style: none;}

/* header */
header{position: relative;}
header .upperheader{background:rgba(0,0,0,0.8);display: inline-block;width: 100%;position: absolute;left:0;z-index: 2;}
.logo{color:#fff; font-size: 1.5em;letter-spacing: 3px;font-family: 'Chakra Petch', sans-serif;padding:0.7em 0;float:left}
header nav{float: right;}
header nav a{color: #fff;padding:1.5em 1em;display: inline-block}
header nav a:hover{background:#347fe3}
.banner{text-align: center;background:url("../images/banner2.jpg") no-repeat;background-size: cover;color:#fff;padding:18em 0;position: relative;z-index:0}
.banner h1{font-size: 5em;text-transform: uppercase;text-shadow: 0px 0px 4px #000;}
.banner h1 span{color: #347fe3;letter-spacing: 3px;}
.banner p{text-transform: uppercase;text-shadow: 0px 0px 3px #000;font-weight: 600;padding:1em}

/* black overlay */
.overlay{position:absolute; top:0;left:0;width:100%; height:100%;background:rgba(0,0,0,0.3);z-index: -1}

/* what we have section on home page */
.whatwehave{padding: 2.5em 0;text-align: center;}
h2{font-size: 2em;font-weight: 400;text-transform: uppercase;}
.optionsContainer h4{font-weight: 600;margin:8px;color:#fff}
.optionsContainer p{font-size:0.8em;color:#fff}
.optionsContainer{display:flex;justify-content: space-between;color:#fff;font-weight: 100;}
.optionsContainer .box{flex:1;background:#347fe3;margin: 20px;padding:1.5em}
.optionsContainer .box:nth-child(even){background: #232323}
.optionsContainer img{height:100px;}

/* schedule section home page */
.schedule{padding: 2.5em 0; background: url(../images/gym.jpg) no-repeat;background-size: cover;background-position:center;text-align: center;position: relative;z-index:0}
.schedule h2{color:#fff}
.days{float: left;text-align: left;margin-top:1em}
.days ul li a{color:#fff;padding:0.8em 0.5em;display: inline-block;width:150px;background:rgba(204,204,204,0.2);margin-bottom:0.7em}
.days ul li a:hover{background:#347fe3;}
.days ul li a:active{background:#347fe3;}
.schedule .overlay{position:absolute; top:0;left:0;width:100%; height:100%;background:rgba(0,0,0,0.6);z-index: -1}
.sections .row{display: flex;flex-direction: row;}
.sectionbox{border:1px solid #fff;flex:1;color:#fff;display: inline-block;padding: 3em 1em;margin:15px 20px}
#tue, #wed, #thu, #fri, #sat{display: none;}
.sections .row h4{text-transform: uppercase;margin-bottom: 10px;}

/* trainer section */
.trainers{padding: 2.5em 0; background:#efefef;text-align: center;}
.trainers .trainersrow{display: flex;}
.trainersrow .trainersbox{flex:1;padding:1em}
.trainersbox img{background:#fff; height:200px; width:250px}
.trainersrow h4{text-transform: uppercase;margin-top:10px;}

/* cutomer feedback section */
.Cusfeedback{padding: 2.5em 0; background:#03142b; text-align: center;color:#fff}
#sec2, #sec3{display: none;}
.Cusfeedback .sec{text-align: center;display: inline-block;width: 60%;padding:20px;}
.Cusfeedback img{background: #ccc; border-radius: 50%;height:100px;width: 100px;}
.Cusfeedback p{line-height: 22px;font-size: 0.9em;margin-top:12px;}

/*contact us section */
.contactUs{text-align: center;padding: 2.5em 0;}
.contactUs .map{float: left;text-align: left;flex:1;margin:20px;}
form{flex:2;padding:20px;}
form label{text-align: left;padding:1em;font-size: 0.8em;margin-bottom:5px;width:100%}
.contactussec{display: flex}
form input{height:50px}
form input, form textarea{width:80%;float: left;margin-bottom:15px;padding:10px;}
form label{vertical-align: top;padding:0 10px 0 0;float: left;} 

/* footer */
footer{background:#080808;color:#fff;font-size: 0.9em;}
.upperfooter{display: flex;}
.footersec{flex:1;padding:20px}
.footersec span{flex:1}
.footersec p{line-height: 1.5;color:#919191}
footer .logo{width: 100%;padding:0 0 15px 0 }
footer img{height:20px;margin-right:15px;}
.email, .contact{display:flex;margin: 15px 0 }
.footersec .footerschedule{margin-bottom:20px;display: flex;color:#919191}
.lowerFooter{border-top:1px solid #747474;padding:10px 0;margin-top: 10px;font-size: 0.7em;text-align: center;}
footer h3{font-size: 1.5em;padding-bottom: 15px;}
.social img{height:35px;opacity:0.2}
.social img:hover{opacity:1}

/* inner banner styling */
.innerbanner{position: relative; padding:40em 0 3em 0;background:url("../images/inner-header-gym.jpg") no-repeat #347fe3;background-position:center right;background-size: cover;}
.yoga{background:url("../images/yoga-bg.png") no-repeat #347fe3;background-position:center right;background-size: cover;}
.zumba{background:url("../images/zumba_bg.jpeg") no-repeat #347fe3;background-position:center right;background-size: cover;}
.cardio{background:url("../images/cardio-bg.jpeg") no-repeat #347fe3;background-position:center right;background-size: cover;}
.innerbanner h2{margin-bottom:10px;font-weight: 800;font-size: 4em;line-height: 1.4em; text-transform: uppercase;color: #fdfdfd;}
.innerbanner .desc{position: absolute;top:10.2%;left:0;display: inline-block;padding:7.8em 1em;width:40%;background:linear-gradient(to right,#347fe3,transparent)}
.about{text-align: center;padding: 2.5em 0;background: #000;color:#fff}

/* inner membership section */
.membershipContainer{text-align:center;background:url("../images/membership.png") no-repeat #000;background-size:contain;background-position:top}
.membership{text-align: left;}
.membership h2{margin-bottom: 20px;text-align: center;}
.membership .box{width:100%;border-bottom:1px solid #222;padding: 2.5em 0;display: inline-block;position: relative}
.membership .box:hover{background: #222;}
.membership .box:hover h4{color:#347fe3}
.membership .box h4{font-size: 1.5em;text-transform: uppercase;}
.membership .cash{color:#347fe3;font-size:1.3em;float: right;margin-top:-10px;font-weight: bold;}
.membership p {display: inline-block;margin-top:10px;}

/* particular activity trainers */
.innerTrainers{padding: 2.5em 0;}
.trainersFlex{display: flex;}
.trainersDesc p{width:70%}
.trainersDesc h2{margin: 2em 0 0.5em 0;font-size: 3em;}
.trainerImgs{flex:1;display: inline-block;}
.trainerImgs img{width:400px;}

.safetyStandards{padding: 2.5em 0;text-align: center;background:url("../images/bg.png") no-repeat;background-size:cover;background-position:center;color:#fff}
.safetyStandards p{width:50%;margin:20px auto;opacity:0.7}
.safetyStandards .row{display: flex;color:#000}
.safetyStandards .sectionbox{border-radius: 10px;border:1px solid #ccc;padding:1em}
.safetyStandards .sectionbox h4, .safetyStandards .sectionbox p{color:#fff}

.contactbanner{padding:10em 0;background:url("../images/banner.jpg") no-repeat;background-size:cover;background-position:top}
.visitUs {display: flex;justify-content:space-between;}
.contactussec{padding:2.5em}
.visitUs .map{flex:1}
.visitUs .address{text-align: left;padding :20px;}
.visitUs .address h3{margin-top:40px;font-size: 1.2em;}
.visitUs .address a{display: block}
.form{display: inline-block;background:#03142b;width: 100%;padding:2.5em;margin-bottom: 0;}
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }





